<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>BootOwl's Home</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="../static/favicon.ico">

</head>
<body>
<div class="container-fluid" align="center" id="HeaderBoot">
    <h1>Welcome to BootOwl!</h1>
    <h1>Great to have you here.</h1>
    <img src="../static/BootOwl.gif">
</div>

<footer>
    <div class="container-fluid" align="center" id="Footer">
        <p>Copyright © 2017 by Erick Fernando Cobo Enriquez.</p>
        <p>All rights reserved.</p>
        <p>If you want to reproduce or copy this code, please contact Erick at: <a href="mailto:fcobo95@gmail.com">fcobo95@gmail.com</a>
        </p>
    </div>
</footer>
</body>

</html>